html
{
background-color: lightblue;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}


ul li {
    list-style-type: disc;
    display: inline-block;
}

h1 {
    font-size: 2.25em;
    color: darkmagenta;
    line-height: 1.33333em;
    margin-top: 0.66667em;
    margin-bottom: 0.66667em
}
h2 {
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 1em;
    color: mediumpurple;
    margin-bottom: 1em
}
h3 {
    font-size: 1.3125em;
    color: darkgoldenrod;
    line-height: 1.14286em;
    margin-top: 1.14286em;
    margin-bottom: 1.14286em
}